.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 100%;
  margin: 0;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg.svg);
  flex: 0 0 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/heart.liked.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/heart.liked+hovered.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 260px;
  }
  .card {
    max-width: 288px;
  }
}
